.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;

}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.hidden{
  display:none;
}

.autospace{
  flex: 1 1 auto;
}

mat-toolbar a{
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
}

a{
  display: inline-block;
  vertical-align: middle;
  margin-top: 5px;
  color: white;
  cursor: pointer;
}

a:hover{
  color: lightseagreen;
}


mat-sidenav-content mat-toolbar a .active{
  color: lightseagreen;
}

/*
@media (min-width:768px){
  .sidenav{
    display:none;
  }

}
*/